manifest {
    mainScript = 'main.nf'
}

profiles {
    standard {
        executor = 'local'
        docker.enabled = true

        process {
        	$trimming_pe {
        		container = 'jdidion/atropos'
        		cpus = params.cpus
        		memory = params.mem
        	}
          $fastqc {
        		container = 'hadrieng/fastqc'
        		cpus = params.cpus
        		memory = params.mem
        }
        $multiqc {
          container = 'ewels/multiqc'
          cpus = params.cpus
          memory = params.mem
      }
        $megahit {
        container = 'bioboxes/megahit'
        cpus = params.cpus
        memory = params.mem
        }
        $metaspades {
        container = 'bioboxes/spades'
        cpus = params.cpus
        memory = params.mem
        }
        $metabat {
        container = 'metabat/metabat:latest'
        cpus = params.cpus
        memory = params.mem
        }
    }
    }

    planet {
        executor = 'sge'
        docker.enabled = false

        process {
            $trimming_pe {
                clusterOptions = '-S /bin/bash -l h_vmem=2G'
                time = '24h'
                penv = 'smp'
                cpus = params.cpus
                module = 'atropos'
            }
            $fastqc {
            clusterOptions = '-S /bin/bash -l h_vmem=2G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'fastqc'
            }
            $multiqc {
            clusterOptions = '-S /bin/bash -l h_vmem=2G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'multiqc'
            }
            $megahit {
            clusterOptions = '-S /bin/bash -l h_vmem=2G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'megahit'
            }
            $metaspades {
            clusterOptions = '-S /bin/bash -l h_vmem=2G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'spades'
            }
            $metabat {
            clusterOptions = '-S /bin/bash -l h_vmem=2G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'metabat:bowtie2:samtools'
            }
        }
    }
}
